body {
  margin: 0;
  padding: 0;
  border: 0;
  /*background-color: #B6B7B6;*/
  background-image: url('../images/weather.jpg');
  background-repeat: no-repeat;
  background-size: cover;
    /* Typography Declarations */
    color: #CCCCCC;
    font-size: 1em;
    /*font-family: "Open Sans", "Helvetica Neue", sans-serif;*/
}

h1 {
  color: #FFFFFF;
  font-size: 2.7em;
  padding: 0;
  margin: 0.8em 0 0.2em 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  /* text-transform: uppercase; */
  letter-spacing: 0.03em;
}

h2{
	color: #FFFFFF;
	font-size: 1em;
  padding: 0;
  margin: 0.6em 0 0 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h3{
  color: #FFFFFF;
  font-size: 1em;
  text-align: center;
  font-family: 'Railway', sans-serif;
  font-weight: 100;
  margin: 4em auto 0 auto;
}

p{
	color: #FFFFFF;
	font-size: 0.8em;
	text-align: center;
	font-family: 'Railway', sans-serif;
	font-weight: 100;
  margin: 4em auto 0 auto;
}

a:link {
  color: #AAAAAA;
  text-decoration: none;
}

hr {
  width: 41%;
  text-align: center;
  margin: 0.4em auto 0.4em auto;
  color: #FFFFFF;
}

.hidden {
  display: none;
}

#header {
  margin: 0;
  padding: 0;
  /*min-height: 25em;*/
  height: 3em;
}
#results {
  margin: 15em 0 0 0;
  padding: 1em 0 2em 0;
  /*min-height: 25em;*/
  /*height: 5em;*/
  background-image: url('../images/fade1.png');
  background-repeat: repeat;
}

.ping {
  text-align: center;
  width: 35em;
  margin: 1em auto 1em auto;
  padding: 1em;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 10px;
  border: 2;
}
#ping {
width: 600px;
margin: 0 auto 1em auto;
  padding: 1em;
  border-style: solid;
  border-color: #AAAAAA;
  border-radius: 10px;
  border: 2;

}
#ping p{
  margin: 0;
  padding: 0.6em;
  text-align: left;
  color: black;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.location {
  text-align: center;
  margin: 1em 0 0 0;
}

#venue {
  height: 30px;
  font-size: 20px;
  margin: 0 0.3em 0 0;
}

#button {
  height: 30px;
  font-size: 20px;
}

.back {
  text-align: left;
  margin: 0 0 0 1em;
  color: #000000;
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 0.9em;
}